<%

	class Greeter {
	    constructor(public greeting: string) { }
	    greet() {
	    	echo('Say ');
	        return "<p>" + this.greeting + "</p>";
	    }
	    asf
	};

	var greeter = new Greeter("Hello, world!");

%><%-
 greeter.greet() 
%>